.voteModpackDiv {

    .block01 {

        position: relative;
        width: 100%;
        height: 100%;
        min-height: 900px;
        background: var(--blue-02-color);

        .centerDiv {
            width: 100%;
            height: 100%;
            min-height: 900px;
            display: flex;
            justify-content: center;
            align-items: center;

            .container {
                width: 100%;
                height: 100%;
                max-width: 1280px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 0px 30px;

                .seasonText {
                    font-size: 60px;
                    color: var(--white-02-color);
                    margin: 0;
                }

                .label {
                    font-size: 60px;
                    color: var(--white-02-color);
                    margin: 0;
                }

                .modpack {
                    cursor: pointer;
                    margin-top: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: var(--blue-01-color);
                    padding: 20px 30px;
                    border-radius: 10px;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

                    img {
                        border-radius: 5px;
                        width: 100%;
                        max-width: 80px;
                        image-rendering: -moz-crisp-edges;
                        image-rendering: -o-crisp-edges;
                        image-rendering: pixelated;
                        image-rendering: -webkit-optimize-contrast;
                    }

                    .modpackLabel {
                        font-size: 22px;
                        color: var(--white-01-color);
                        margin: 0;
                        margin-left: 25px;
                        white-space: nowrap;
                    }
                }
            }
        }

        .bottomDiv {
            position: absolute;
            bottom: 10%;
            left: 50%;
            transform: translateX(-50%);

            // .label {
            //     font-size: 16px;
            //     font-weight: 400;
            //     color: var(--white-03-color);
            //     margin: 0;
            //     white-space: nowrap;
            // }

            .voteModpackButton {
                background-color: var(--orange-01-color);
                font-size: 22px;
                height: 50px;
                margin-right: 5px;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }

            .voteModpackButton:hover {
                background-color: var(--orange-02-color);
            }
        }
    }

    .block02 {
        
        background-color: var(--dark-03-color);

        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .container {
            width: 100%;
            height: 100%;
            max-width: 1280px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 100px 30px;
            box-sizing: border-box;

            .label {
                font-size: 42px;
                color: var(--white-02-color);
                margin: 0;
                text-align: center;
            }

            .recommendModpackButton {
                margin-top: 30px;
                background-color: var(--orange-01-color);
                font-size: 22px;
                height: 50px;
                margin-right: 5px;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }

            .recommendModpackButton:hover {
                background-color: var(--orange-02-color);
            }
        }
    }

    .block03 {

        background-color: var(--dark-02-color);

        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .container {
            width: 100%;
            height: 100%;
            max-width: 1280px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 100px 30px;
            box-sizing: border-box;

            .label {
                font-size: 42px;
                color: var(--white-02-color);
                margin: 0;
                text-align: center;
            }

            .modpackList {

                margin-top: 80px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                .modpack {

                    margin: 5px;

                    .modpackButton {
                        background-color: var(--orange-01-color);
                        font-size: 18px;
                        height: 50px;
                        margin-right: 5px;
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    }
        
                    .modpackButton:hover {
                        background-color: var(--orange-02-color);
                    }
                }
            }
        }
    }

    @media screen and (max-width: 767px) {
        
        .block01 {

            min-height: 500px;

            .centerDiv {

                min-height: 500px;

                .container {

                    .seasonText {
                        font-size: 30px;
                    }

                    .label {
                        font-size: 50px;
                    }

                    .modpack {

                        img {
                            max-width: 60px;
                        }

                        .modpackLabel {
                            // font-size: 16px;
                            font-size: 100%;
                            margin-left: 5px;
                        }
                    }
                }
            }

            .bottomDiv {
                .voteModpackButton {
                    font-size: 18px;
                }
            }
        }

        .block02 {

            .container {

                padding: 50px 30px;

                .label {
                    font-size: 24px;
                }

                .recommendModpackButton {
                    font-size: 18px;
                }
            }
        }

        .block03 {

            .container {

                padding: 50px 30px;
             
                .label {
                    font-size: 24px;
                }

                .modpackList {
                    margin-top: 50px;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;

                    .modpackButton {
                        font-size: 16px;
                    }
                }
            }
        }
    }

}