@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #0f1923;
    color: #ece8e1;
    margin: 0;
    padding: 0;
  }
}

/* VALORANT 風格的滾動條 */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0f1923;
}
::-webkit-scrollbar-thumb {
  background: #ff7d00;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ff9d40;
}
