.modServerDiv {

    width: 100vw;

    .block01 {

        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        min-height: 900px;

        .imgDiv {
            .img {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 900px;
                object-fit: cover;
            }

            @media screen and (max-width: 767px) {
                .img {
                    height: 500px;
                }
            }
        }

        .imgDiv:after {
            content: "";
            background: rgba(0,0,0,0.6);
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        .labelDiv {

            position: relative;
            z-index: 1;
            max-width: 1280px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .container {

                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0px 30px;

                .label {
                    color: var(--white-02-color);
                    font-size: 100px;
                    margin: 0;
                }

                .description {
                    color: var(--white-01-color);
                    font-size: 22px;
                    margin: 0;
                    margin-top: 10px;
                    text-align: center;
                }

                @media screen and (max-width: 767px) {
                    .label {
                        font-size: 50px;
                    }
                    .description {
                        font-size: 16px;
                    }
                }

                .buttonDiv {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 30px;

                    .buttonFocusDiscord {
                        background-color: var(--blue-03-color);
                        font-size: 22px;
                        height: 50px;
                        margin-right: 5px;
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    }

                    .buttonFocusDiscord:hover {
                        background-color: var(--blue-04-color);
                    }

                    .buttonFocusLauncher {
                        background-color: var(--orange-01-color);
                        font-size: 22px;
                        height: 50px;
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    }

                    .buttonFocusLauncher:hover {
                        background-color: var(--orange-02-color);
                    }

                    @media screen and (max-width: 767px) {
                        .buttonFocusLauncher {
                            display: none;
                        }
                    }
                }
            }

        }
    }

    .block02 {

        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .container {

            box-sizing: border-box;
            max-width: 1280px;
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            padding: 80px 30px;

            .blockLeftDiv {
                .blockLeftLabel {
                    color: var(--white-02-color);
                    font-size: 45px;
                    margin: 0;
                }
            }

            .blockRightDiv {

                .blockRightLabelDiv {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    padding: 10px 0px;

                    .blockRightLabel {
                        color: var(--white-01-color);
                        font-size: 20px;
                        margin: 0;
                    }
                }

            }
        }
    }

    .block06 {

        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .container {

            box-sizing: border-box;
            max-width: 1280px;
            width: 100%;
            padding: 100px 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .label {
                color: var(--white-02-color);
                font-size: 45px;
                margin: 0;
            }

            .rulesDiv {

                margin-top: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 240px;

                .cardTextCenter {
                    margin: 0px 20px;
                }
            }

            .label02 {
                color: var(--white-02-color);
                font-size: 45px;
                margin: 0;
                margin-top: 100px;
            }

            .description02 {
                color: var(--white-01-color);
                font-size: 22px;
                margin: 0;
            }

            .discordButton {
                margin-top: 50px;
                font-size: 32px;
                background-color: var(--blue-03-color);
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }

            .discordButton:hover {
                background-color: var(--blue-04-color);
            }
        }

    }

    @media screen and (max-width: 767px) {

        .block01 {
            min-height: 500px;
        }

        .block02 {

            .container {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;

                .blockLeftDiv {
                    margin-bottom: 30px;

                    .blockLeftLabel {
                        font-size: 30px;
                    }
                }

                .blockRightDiv {
                    .blockRightLabelDiv {
                        .blockRightLabel {
                            font-size: 16px;
                        }
                    }
                }
            }

        }

        .block06 {
            .container {
                padding: 60px 30px;
                .label {
                    font-size: 30px;
                }
                .rulesDiv {
                    margin-top: 60px;
                    flex-direction: column;
                    .cardTextCenter {
                        margin: 10px 0px;
                    }
                }
                .label02 {
                    margin-top: 60px;
                    font-size: 30px;
                }
                .description02 {
                    font-size: 18px;
                }
                .discordButton {
                    font-size: 22px;
                }
            }
        }
    }

}