.paginationArrowDiv {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 25px;

    .paginationNumberDiv {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 20px;
        width: 0;

        h1 {
            color: #fff;
            font-size: 1em;
            margin: 0;
        }
    }

    .paginationButton {

        display: flex;
        justify-content: flex-end;
        align-items: center;

        button {
            cursor: pointer;
            border: none;
            width: 100%;
            border-radius: 5px;
            color: #fff;
            font-size: 18px;
            transition: all 0.1s linear;
            background-color: #4a4a4a;
            white-space: nowrap;
            margin-left: 3px;
            padding: 10px 15px;
            display: flex;
            align-items: center;

            img {
                height: 16px;
            }
        }

        button:hover {
            background-color: rgba(255, 255, 255, 0.2);
        }
    
        button:active {
            background-color: rgba(255, 255, 255, 0.1);
        }

        .buttonLeft {
            img {
                transform: rotate(90deg);
            }
        }

        .buttonRight {
            img {
                transform: rotate(-90deg);
            }
        }
    }
}
